# Those that are commented come by default on Linux (I think!), or through the apt packages installed in README.md

beautifulsoup4==4.12.3
#certifi==2024.2.2
#chardet==3.0.4
#gpiozero==1.6.2 # installed through the APT package `python3-gpiozero`
#idna==2.10
pyserial==3.5
pytest==8.3.4
redis==5.2.1
requests==2.32.2
RPi.bme280==0.2.4
#RPi.GPIO==0.7.1 # installed through the APT package `python3-rpi.gpio`, presented by default on Raspbian
smbus2==0.5.0
#urllib3==1.26.18
yt-dlp==2024.12.23
