[Unit]
Description=Shutdown with Python daemon
After=local-fs.target network.target

[Service]
Restart=always
RestartSec=3
PIDFile=/run/python_shutdown.pid
ExecStart=/home/pi/raspberry-pi-security-camera/.env/bin/python3 /home/pi/raspberry-pi-security-camera/shutdown.py
Type=simple
StandardError=null

[Install]
WantedBy=multi-user.target
