[Unit]
Description=Detect door state changes
After=local-fs.target network-online.target

[Service]
Restart=always
RestartSec=3
PIDFile=/run/python_door-sensor.pid
User=pi
ExecStart=/home/pi/raspberry-pi-home-automation/.env/bin/python3 -u /home/pi/raspberry-pi-home-automation/door-sensor.py
Type=simple
StandardOutput=file:/var/log/door-sensor.stdout
StandardError=file:/var/log/door-sensor.stderr

[Install]
WantedBy=multi-user.target
