[Unit]
Description=Motion daemon
After=local-fs.target network.target

[Service]
PIDFile=/run/motion.pid
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/motion -n -c /home/pi/raspberry-pi-home-automation/motion-dist.conf
Type=simple
StandardError=null

[Install]
WantedBy=multi-user.target
