[Unit]
Description=Records video through the Raspberry Pi camera
After=local-fs.target

[Service]
Restart=always
RestartSec=3
PIDFile=/run/python_video-recorder.pid
User=pi
ExecStart=/home/pi/raspberry-pi-home-automation/.pyenv/bin/python3 -u /home/pi/raspberry-pi-home-automation/video_recorder.py
Type=simple
StandardOutput=append:/var/log/video-recorder.stdout
StandardError=append:/var/log/video-recorder.stderr

[Install]
WantedBy=multi-user.target
