[Unit]
Description=Send email on failure of %i
# This service is called by other services when they fail to start. It sends an email to root@localhost.
# It does not need to be enabled using `sudo systemctl enable xxx`.

[Service]
Type=oneshot
# We use bash -c to pipe the status directly into the mail command
ExecStart=/bin/bash -c '/usr/bin/systemctl status %i | /usr/bin/mail -s "Failure Alert: %i" root@localhost'
User=pi