[Unit]
Description=Shutdown with Python daemon
After=local-fs.target network-online.target

[Service]
Restart=always
RestartSec=3
PIDFile=/run/python_shutdown.pid
ExecStart=/home/pi/raspberry-pi-home-automation/.venv/bin/python3 -u /home/pi/raspberry-pi-home-automation/shutdown.py
Type=simple
StandardError=null

[Install]
WantedBy=multi-user.target
